<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta content="bad5ed2ea17fd2cc0b96640a0f25cd767aaa5a71.apps.googleusercontent.com" name="google-signin-client_id"/>
            <title>
                Practice Timer
            </title>
            <link href="css/index.css" rel="stylesheet" type="text/css"/>
            <link href="lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
            <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css"/>
            <!-- animation -->
            <link href="css/bounce/add.css" rel="stylesheet"/>
            <!-- material design -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
            <link href="lib/mdl/material.css" rel="stylesheet" type="text/css"/>
            <script src="lib/mdl/material.js" type="text/javascript"></script>
        </meta>
    </head>
</html>
<!-- main -->
<link href="css/index.css" rel="stylesheet"/>
<body>
    @RenderBody()
</body>
