  <div id="rootEl"></div>
  <!-- root component  -->
    <div class="google g-signin2" data-onsuccess="onSignIn">
      <img src="lib/google_signin_buttons/web/2x/btn_google_signin_dark_normal_web@2x.png"></img>
    </div>
  <script src="dist/app.js" defer></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

